.icon-box {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    z-index: 1;
}

.icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: gray;
    border-radius: inherit;
    z-index: -1;
}

.info_more-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: rgb(189, 189, 189);
    transition: 0.25s ease;
    ;
    z-index: -1;
}

.service-list {
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}

.has-scrollbar::-webkit-scrollbar {
    width: 5px;
    /* for vertical scrollbar */
    height: 5px;
    /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
    background: gray;
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button {
    width: 60px;
}


.has-scrollbar::-webkit-scrollbar-button {
    width: 60px;
}

.active {
    color: #ffdb70;

}

.active {
    display: inline-block;
    position: relative;
}

.active::after {
    content: '' !important;
    position: absolute !important;
    width: 60% !important;
    transform: scaleX(1) !important;
    height: 2px !important;
    bottom: 0 !important;
    left: 20% !important;
    background-color: #ffdb70 !important;
}
.timeline-item::after {
    content: "";
    position: absolute;
    top: 1rem;
    left:  1.4rem;
    height: 6px;
    width: 6px;
    background: #ffdb70;
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
}


#cursor {
    z-index: 999;
    position: fixed;
    top: calc(28px * -0.5);
    left:  calc(28px * -0.5);
    pointer-events: none;
    mix-blend-mode: difference;
  }

  .cursor-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background:white;
    transform-origin: center center;
  }
  .goo {
    display: none;
  }
.project-img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
}

.project-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: var(--transition-1);
}

.project-img.actives {
    animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.project-item>a:hover .project-img::before {
    background: hsla(0, 0%, 0%, 0.5);
}


.project-item>a:hover img {
    transform: scale(1.1);
}
iframe {
    border: none;
    filter: grayscale(1) invert(1);
}

.inputborder {
    border: 1px solid #d6d6d6;
}


.form-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: linear-gradient(to bottom right,
            hsla(240, 1%, 18%, 0.251) 0%,
            hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
    border-radius: inherit;
    z-index: -1;
    transition: 0.25s ease;
}

.form-btn ion-icon {
    font-size: 16px;
}

.form-btn:hover {
    background:linear-gradient(to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 35%);
}

.form-btn:hover::before {
    background: linear-gradient(135deg,
            hsla(45, 100%, 71%, 0.251) 0%,
            hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
}